.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.searchBar {
  display: block;
  left: 0;
  right: 0;
  margin: 50px auto 0px auto;
  font-size: 40px;
  padding: 0px;
  width: 300px;
  height: 40px;
  border-bottom: 2px solid #5a5a5a;
  color: #ebebeb;
  background-color: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}

.searchBar,
.playing {
  position: fixed;
}

.searchBar:focus {
  border-bottom: 2px solid #ebebeb;
}

.playing {
  border: 2px solid #5a5a5a;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 150px;
  border-radius: 20px;
  display: inline-block;
  margin: 0 auto 5% auto;
  background-color: #3f3f3f;
}

.clickToAdd {
  text-align: center;
  margin-top: 65px;
}

.displayedTiles {
  position: fixed;
  margin-top: 105px;
  width: calc(100% - 4px);
  height: calc(100% - 325px);
}

.tile {
  border-radius: 20px;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 2px solid white;
}

.tilePic {
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  width: 200px;
}

.tileName,
.addToPlaying {
  display: inline-block;
}

.tileName {
  margin-left: 20px;
}

.addToPlaying {
  max-width: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  opacity: 0.5;
}

.addToPlaying:hover {
  opacity: 1;
}

.addToPlaying:active {
  opacity: 0.8;
}
