.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.searchBar {
  display: block;
  left: 0;
  right: 0;
  margin: 50px auto 0px auto;
  font-size: 40px;
  padding: 0px;
  width: 300px;
  height: 40px;
  border-bottom: 2px solid #5a5a5a;
  color: #ebebeb;
  background-color: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}

.searchBar,
.playing {
  position: fixed;
}

.searchBar:focus {
  border-bottom: 2px solid #ebebeb;
}

.playing {
  border: 2px solid #5a5a5a;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 150px;
  border-radius: 20px;
  display: inline-block;
  margin: 0 auto 100px auto;
  background-color: #3f3f3f;
}

.clickToAdd {
  text-align: center;
  margin-top: 65px;
}

.displayedTiles {
  position: fixed;
  margin-top: 105px;
  width: calc(100% - 4px);
  height: calc(100% - 325px);
}

.tile {
  border-radius: 20px;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 2px solid white;
}

.playingTile {
  border-radius: 0px;
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0px;
  border: 1px solid white;
}

.tilePic {
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  width: 200px;
}

.playingTile:nth-child(1) > img,
.playingTile:nth-child(1) {
  border-radius: 20px 0px 0px 20px;
}

.playingTilePic {
  border-radius: 0px;
  height: 150px;
  width: 150px;
}

.tileName,
.addToPlaying {
  display: inline-block;
}

.tileName {
  margin-left: 20px;
}

.addToPlaying {
  max-width: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  opacity: 0.5;
}

.addToPlaying:hover {
  opacity: 1;
}

.addToPlaying:active {
  opacity: 0.8;
}

.removeFromPlaying {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 0px 0px 0px 10px;
}

#pButton {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  background-size: 50% 50%;
  background-position: center;
}

.play {
  background: url("./images/icons/play.png") no-repeat;
}
.pause {
  background: url("../images/icons/pause.png") no-repeat;
}

.masterControlsContainer {
  position: absolute;
  right: -65px;
  top: 0px;
}

.masterControls {
  width: 40px;
  margin: 0 auto;
}

.slidecontainer input {
  -webkit-appearance: slider-vertical;
  width: 40px;
  margin: 0px;
  height: 100px;
  margin-top: 5px;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
